pandas==3.0.5 
numpy==2.5.1
scikit-learn
xgboost
streamlit
sqlalchemy
python-dotenv
requests
joblib
matplotlib
seaborn
jupyter

# pandas 3.0.5 mere mai chal nhi rha idk kyu dll error maybe ek baar apne system mai 3.0.5 krke koi notebook run krna aur batana